body {
  padding-top: 15px;
  background-color: #1b2722;
}

#idMain {
  background: url('../images/chalkboard wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#idTitle {
  padding-top: 15px;
}

#idHeaderL {
  padding-top: 25px;
}

@font-face {
  font-family: letraTipoGis;
  src: url('../fonts/KGBrokenVesselsSketch.ttf');
}

div {
  font-family: letraTipoGis;
  color: #f2f2f2;
}

.facebookicon {
    width: 100px;
    height:100px;
    display:flex;
    background:transparent url('../images/fbIcon.png') center top no-repeat;
 }
 
 .facebookicon:hover {
    background-image: url('../images/fbHoverIcon.png');
 }

 a:link {
  color: #E4D3FF;
  background-color: transparent;
  text-decoration: none;
}

/* a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
} */

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

/* a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */
